<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Comment</title>
</head>

<body>
    <h1>Showing details about one comment</h1>
    <section>
        <b>USER:</b>
        <%= comment.username %>
    </section>
    <section>
        <b>COMMENT:</b>
        <%= comment.comment %>
    </section>

    <a href="/comments/<%= comment.id %>/edit">Edit THIS comment</a>
    <a href="/comments">Go back to comments</a>

    <form action="/comments/<%= comment.id %>?_method=DELETE"      method="post">
        <button>DELETE</button>
    </form>

</body>

</html>