<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is a test</title>
</head>

<body>
    <h1>Hello world! <%= 4 + 5 + 1 %>
    </h1>
    <b>Hello world! <%= "u already said that" .toUpperCase() %></b>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque at voluptates dolorem. Labore, eum facilis iure
        quod quaerat qui a iste quo beatae, amet cum, veniam atque incidunt sit maiores!</p>

</body>

</html>